@model Racoonogram.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Восстановление доступа";/* (если он был забыт)*/
}

<div class="container">
    <div class="row">
        <h1>@ViewBag.Title.</h1>

        <p>
            Проверьте электронную почту, чтобы сбросить пароль.
        </p>
        <p>В случае успешной смены пароля Вы будете перенаправлены на страницу Входа в систему</p>

        <p id="divResult"></p>
        @using (Html.BeginForm("ForgotPasswordConfirmation", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formRefrPass" }))
    {
        <input type="hidden" value="@ViewBag.KeyString.ToString()" name="keystr" id="hidd" />
        <input type="hidden" value="@ViewBag.Email.ToString()" name="email" id="nohid" />
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-sm-3">E-mail</div>
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", value = ViewBag.Email , disabled=true } })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">Новый пароль</div>
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Пароль" } })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">Подтверждение пароля</div>
            <div class="col-sm-9">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">Полученный код</div>
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>
        @*@Html.EditorForModel(Model)*@
        <div class="form-group">
            <div class="col-sm-7 col-sm-offset-3">
                <input type="submit" class="form-control" />
            </div>
        </div>

}
    </div>
</div>
@section Scripts{
    <script>
        $("#formRefrPass").submit(function (e) {
            if (!($("#Code").val() == $("#hidd").val())) {
            alert("Код неверен!");
            e.preventDefault();
        }
        
    });
    </script>
}