@model Racoonogram.Models.PaginationClass
@using Racoonogram.Helpers
@{
    ViewBag.Title = "PhotoGalery";
}


<section id="search-section" style="background-image: url('@ViewBag.BackImage')">
    <div class="container-fluid" style="@ViewBag.MinHeight">
        <div class="search-form">
            <h1>Racoonogram - живи ярко, наполняй цветом каждый день</h1>

            @using (Ajax.BeginForm("ImageSearch", "Home", new AjaxOptions { UpdateTargetId = "SearchResult" }, new { @class = "navbar-form form-search" }))
            {
            <div class="input-group">
                <input type="text" id="input-string-query" value="@ViewBag.StringValue" name="keywords" class="form-control" style="width:80%; height:40px;border-radius:4px" placeholder="Enter the word">
                <input type="submit" id="submit-search" value="" class="btn btn-default selectType" style="width:40px;">
                <input type="hidden" id="submit-search-npage" name="page" value="1" />
                <input type="hidden" id="GetString" name="iscategory" value="@ViewBag.GetString" />
                @*<input type="hidden" id="StringValue" value="@ViewBag.StringValue" />*@
                <label for="submit-search"><i class="fa fa-search"></i></label>
                <div class="dropdown selectType">
                    <button class="btn btn-default dropdown-toggle" type="button" id="selectType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i id="selected-i" class="fa fa-camera-retro"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="selectType">
                        <li class="selectTypeLi"><i class="fa fa-camera-retro" style="color:#000"></i></li>
                        <li class="selectTypeLi"><i class="fa fa-picture-o" style="color:#000"></i></li>
                        <li class="selectTypeLi"><i class="fa fa-video-camera" style="color:#000"></i></li>
                    </ul>
                </div>
            </div>

            }
            <div class="examples">
                <span class="no-style">for example:</span>
                <span class="hrefs-query"><a href="/Home/PhotoGalery?querys=animal">animal</a></span>
                <span class="hrefs-query"><a href="/Home/PhotoGalery?querys=forest">forest</a></span>
                <span class="hrefs-query"><a href="/Home/PhotoGalery?querys=child">girl</a></span>
                <span class="hrefs-query"><a href="/Home/PhotoGalery?querys=rainbod">nature</a></span>
            </div>
        </div>
    </div>
    <div class="descr-image-back">
        <p>
            @if (ViewBag.BackAuthor != null)
            {
                <span>by: <a href="/Home/AuthorProfile/@ViewBag.BackAuthorHref" target="_blank">@ViewBag.BackAuthor - </a></span>
            }
            <span class="navbar-right">@ViewBag.likes <i class="fa fa-heart-o"></i></span>
        </p>

    </div>
</section>

@*@{Html.RenderPartial("Search");}*@

<section id="SearchResult">
</section>

<section>
    @{Html.RenderAction("GetCategories", "Home");}
</section>


    @section Scripts{
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
        @Scripts.Render("~/Scripts/like.js")
        <script>
            window.onload = function () {
                //alert("333");
                //console.log(document.getElementById("input-string-query").value);
                if (String(document.getElementById("input-string-query").value).length > 0) {
                    //console.log(document.getElementById("input-string-query").value);
                    $("#form0").submit();
                }
            };
        </script>
    }

