@using Racoonogram.Models;
@using System.Linq;
@using System;
@using System.Collections.Generic;
@using System.Web;
@using System.Web.Mvc;
@using Racoonogram.Controllers;
@using System.Data.Entity;


@model Racoonogram.Models.PaginationClassForUsers

@using Racoonogram.Helpers
@{
    ViewBag.Title = "UserSearch";
}

<section id="search-section-1" style="position:relative">

    <div id="carousel-example-generic" class="carousel fade carousel-fade" data-ride="carousel" data-interval = "5000">
        <div class="carousel-inner">
            <div class="item active" id="u1" style="background-image:url('@ViewBag.BackImage[0]');"></div>
            <div class="item" id="u2" style="background-image:url('@ViewBag.BackImage[1]');"></div>
            <div class="item" id="u3" style="background-image:url('@ViewBag.BackImage[2]');"></div>
        </div>
    </div>


    <div class="container-fluid" style="position:absolute;top:0;" id="main-page">
        <div class="search-form">
            <h1 class="xs-none">Racoonogram - живи ярко, наполняй цветом каждый день</h1>

            @using (Ajax.BeginForm("UserSearchPartial", "Home", new AjaxOptions { UpdateTargetId = "SearchResult" }, new { @class = "navbar-form form-search" }))
            {
                <div class="input-group">
                    <input type="text" id="input-string-query" name="searchstring" class="form-control" placeholder="Enter the word" style="width: 65%;">
                    <input type="submit" id="submit-search" value="" class="btn btn-default selectType" style="width:40px;">
                    <input type="hidden" id="submit-search-npage" name="page" value="1" />
                    <input type="hidden" id="submit-order" name="order" value="name" />
                    <label for="submit-search"><i class="fa fa-search"></i></label>
                    <div class="dropdown selectType" id="user-search-dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="selectType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i id="selected-i" class="fa fa-user-o"><span style="font-family:Arial, Helvetica, sans-serif" class="xs-none-768"> - name</span> </i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu user-serach" aria-labelledby="selectType">
                            <li class="selectTypeLi" id="name"><i class="fa fa-user-o" style="color:#333; cursor:pointer"><span style="font-family:Arial, Helvetica, sans-serif" class="xs-none-768"> - name</span> </i></li>
                            <li class="selectTypeLi" id="images"><i class="fa fa-picture-o" style="color:#333; cursor:pointer"><span style="font-family:Arial, Helvetica, sans-serif" class="xs-none-768"> - count</span></i></li>
                            <li class="selectTypeLi" id="follow"><i class="fa fa-heart-o" style="color:#333; cursor:pointer"><span style="font-family:Arial, Helvetica, sans-serif" class="xs-none-768"> - count</span></i></li>
                        </ul>
                    </div>
                </div>

            }
            @*<div class="examples">
                    <span class="no-style">for example:</span>
                    <span class="hrefs-query"><a href="#animals">animals</a></span>
                    <span class="hrefs-query"><a href="#forest">forest</a></span>
                    <span class="hrefs-query"><a href="#child">child</a></span>
                    <span class="hrefs-query"><a href="#rainbod">rainbod</a></span>
                </div>*@
        </div>
    </div>
    @*<div class="descr-image-back xs-none">
        <p>
            @if (ViewBag.BackAuthor != null)
            {
                <span>by: <a href="/Home/AuthorProfile/@ViewBag.BackAuthorHref" target="_blank">@ViewBag.BackAuthor - </a></span>
            }
            <span class="navbar-right">@ViewBag.likes <i class="fa fa-heart-o"></i></span>
        </p>

    </div>*@
</section>

<section id="SearchResult">

    <div class="container">
        <div class="row">
            <div>

                <div class="col-sm-10 col-sm-offset-1">
                    <table style="width:100%" id="table-users">
                        <tr>
                            <th width="10%"></th>
                            <th>Логин</th>
                            <th class="hidden-column">Связь</th>
                            <th class="column-i"><i class="fa fa-picture-o"></i></th>
                            <th class="column-i"><i class="fa fa-heart-o"></i></th>
                        </tr>
                        @foreach (var item in Model.userSearches)
                        {

                            <tr>
                                <td>
                                    <a href="/Home/AuthorProfile/@item.Id" target="_blank">
                                        <img class="user-small-logo" src="@item.UrlLogo" onerror="this.src='/Content/Images/notFound.jpg'" />
                                    </a>
                                </td>
                                <td>
                                    <a href="/Home/AuthorProfile/@item.Id" target="_blank" style="color:#000">
                                        @item.UserName
                                    </a>
                                </td>
                                <td class="hidden-column">
                                    <a href="@item.Site" target="_blank">
                                        @item.SiteShort
                                    </a>
                                </td>
                                <td align="right">
                                    <span>@item.CountPubl</span>
                                </td>
                                <td align="right">
                                    <span>@item.CountFollow</span>
                                </td>
                            </tr>

                        }
                    </table>
                </div>

            </div>
        </div>
        <div class="row" style="text-align:center;">
            <div class="btn-group">
                @Html.PageLinks(Model.PageInfoPag, x => Url.Action("PhotoGalery", new { page = x }))
            </div>
        </div>
    </div>
</section>




@section Scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/myChangeSelect.js")
}











